body {
  width: 98%;
}

#NavBar {
  width: 100vmax;
  height: 25vmin;
}

#NavBar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#TopDisplay {
  margin: 3vmin auto;
  display: flex;
  width: 95%;
  justify-content: center;
}

#ProductInfo {
  width: 81vw;
}

#Checkout {
  width: 19vw;
}

#RelatedProducts {
  display: block;
}

#Reviews {
  margin-left: 3vmin;
}
