#ProductInfo {
  border: 2px solid black;
  width: 60%;
  display: inline-block;
  margin: 3%;
}

#CheckoutPanel {
  border: 2px solid black;
  width: 20%;
  /* margin-left: 5px; */
  display: inline-block;
}

#RelatedProducts {
  border: 2px solid black;
  margin: 10%;
  display: block;
}

#Reviews {
  border: 2px solid black;
  margin: 2%;
}